### RANDOM

###### 1) 난수 발생
- random() : 0~1 사이의 난수
- uniform(시작, 끝) : 시작~끝 실수 난수
- randrange(시작, 끝) : 시작~끝 정수 난수
- randint(시작, 끝) : 시작~끝 정수 난수

In [3]:
import random

In [4]:
a = [round(random.random(), 2) for i in range(100)]
a[:10]

[0.14, 0.89, 0.05, 0.95, 0.83, 0.7, 0.86, 0.05, 0.58, 0.68]

In [5]:
b = [round(random.uniform(1, 10), 2) for i in range(100)]
b[:10]

[6.76, 2.16, 9.83, 4.52, 8.53, 9.88, 2.19, 4.77, 6.93, 6.46]

In [6]:
c = [random.randrange(1, 100) for _ in range(100)]
c[:10]

[41, 63, 78, 37, 22, 27, 94, 43, 27, 86]

In [7]:
d = [random.randint(1, 100) for _ in range(100)]
d[:10]

[47, 49, 52, 94, 89, 54, 3, 100, 92, 60]

###### 2)