In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.0.0-alpha0'

In [3]:
train_data=pd.read_csv('../Data/Titanic/trainset.csv')
test_data=pd.read_csv('../Data/Titanic/testset.csv')
combine = [train_data, test_data]
print(combine)

[     Survived  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
0           0       3    0    1     0         0      1        0          3
1           1       1    1    2     3         1      3        0          2
2           1       3    1    1     1         0      2        1          3
3           1       1    1    2     3         0      3        0          2
4           0       3    0    2     1         0      1        1          6
5           0       3    0    1     1         2      1        1          3
6           0       1    0    3     3         0      1        1          3
7           0       3    0    0     2         0      4        0          0
8           1       3    1    1     1         0      3        0          3
9           1       2    1    0     2         1      3        0          0
10          1       3    1    0     2         0      2        0          0
11          1       1    1    3     2         0      2        1          3
12          0       3    0    1     1         0      1        1          3
13          0       3    0    2     3         0      1        0          6
14          0       3    1    0     0         0      2        1          0
15          1       2    1    3     2         0      3        1          6
16          0       3    0    0     2         2      4        0          0
17          1       2    0    1     1         0      1        1          2
18          0       3    1    1     2         0      3        0          3
19          1       3    1    1     0         1      3        1          3
20          0       2    0    2     2         0      1        1          4
21          1       2    0    2     1         0      1        1          4
22          1       3    1    0     1         2      2        1          0
23          1       1    0    1     3         0      1        1          1
24          0       3    1    0     2         0      2        0          0
25          1       3    1    2     3         0      3        0          6
26          0       3    0    1     0         1      1        1          3
27          0       1    0    1     3         0      1        0          1
28          1       3    1    1     0         2      2        1          3
29          0       3    0    1     0         0      1        1          3
..        ...     ...  ...  ...   ...       ...    ...      ...        ...
861         0       2    0    1     1         0      1        0          2
862         1       1    1    2     2         0      3        1          2
863         0       3    1    1     3         0      2        0          3
864         0       2    0    1     1         0      1        1          2
865         1       2    1    2     1         0      3        1          4
866         1       2    1    1     1         1      2        0          2
867         0       1    0    1     3         0      1        1          1
868         0       3    0    1     1         0      1        1          3
869         1       3    0    0     1         0      4        0          0
870         0       3    0    1     0         0      1        1          3
871         1       1    1    2     3         0      3        0          2
872         0       1    0    2     0         0      1        1          2
873         0       3    0    2     1         0      1        1          6
874         1       2    1    1     2         1      3        0          2
875         1       3    1    0     0         1      2        1          0
876         0       3    0    1     1         0      1        1          3
877         0       3    0    1     0         0      1        1          3
878         0       3    0    1     0         0      1        1          3
879         1       1    1    3     3         1      3        0          3
880         1       2    1    1     2         0      3        0          2
881         0       3    0    2     0         0      1        1          6
882         0       3    1    1     1         0      2        1          3
883         0       2    0    1     1         0      1        1          2
884         0       3    0    1     0         0      1        1          3
885         0       3    1    2     2         2      3        0          6
886         0       2    0    1     1         0      6        1          2
887         1       1    1    1     2         0      2        1          1
888         0       3    1    1     2         0      2        0          3
889         1       1    0    1     2         1      1        1          1
890         0       3    0    1     0         2      1        1          3

[891 rows x 9 columns],      PassengerId  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
0            892       3    0    2     0         2      1        1          6
1            893       3    1    2     0         0      3        0          6
2            894       2    0    3     1         2      1        1          6
3            895       3    0    1     1         0      1        1          3
4            896       3    1    1     1         0      3        0          3
5            897       3    0    0     1         0      1        1          0
6            898       3    1    1     0         2      2        1          3
7            899       2    0    1     2         0      1        0          2
8            900       3    1    1     0         1      3        1          3
9            901       3    0    1     2         0      1        0          3
10           902       3    0    1     0         0      1        1          3
11           903       1    0    2     2         0      1        1          2
12           904       1    1    1     3         0      3        0          1
13           905       2    0    3     2         0      1        0          6
14           906       1    1    2     3         0      3        0          2
15           907       2    1    1     2         1      3        0          2
16           908       2    0    2     1         2      1        1          4
17           909       3    0    1     0         1      1        1          3
18           910       3    1    1     1         0      2        0          3
19           911       3    1    2     0         1      3        1          6
20           912       1    0    3     3         1      1        0          3
21           913       3    0    0     0         0      4        0          0
22           914       1    1    2     3         0      3        1          2
23           915       1    0    1     3         1      1        0          1
24           916       1    1    2     3         1      3        0          2
25           917       3    0    3     2         0      1        0          9
26           918       1    1    1     3         1      2        0          1
27           919       3    0    1     0         1      1        1          3
28           920       1    0    2     2         0      1        1          2
29           921       3    0    1     2         1      1        0          3
..           ...     ...  ...  ...   ...       ...    ...      ...        ...
388         1280       3    0    1     0         2      1        1          3
389         1281       3    0    0     2         0      4        0          0
390         1282       1    0    1     3         0      1        1          1
391         1283       1    1    3     3         0      3        0          3
392         1284       3    0    0     2         0      4        0          0
393         1285       2    0    2     1         0      1        1          4
394         1286       3    0    1     2         0      1        0          3
395         1287       1    1    1     3         0      3        0          1
396         1288       3    0    1     0         2      1        1          3
397         1289       1    1    2     3         1      3        0          2
398         1290       3    0    1     0         0      1        1          3
399         1291       3    0    1     0         2      1        1          3
400         1292       1    1    1     3         0      2        1          1
401         1293       2    0    2     2         0      1        0          4
402         1294       1    1    1     3         1      2        0          1
403         1295       1    0    1     3         0      1        1          1
404         1296       1    0    2     2         1      1        0          2
405         1297       2    0    1     1         1      1        1          2
406         1298       2    0    1     1         0      1        0          2
407         1299       1    0    3     3         1      1        0          3
408         1300       3    1    1     0         2      2        1          3
409         1301       3    1    0     1         0      2        0          0
410         1302       3    1    1     0         2      2        1          3
411         1303       1    1    2     3         2      3        0          2
412         1304       3    1    1     0         0      2        1          3
413         1305       3    0    1     1         0      1        1          3
414         1306       1    1    2     3         1      6        1          2
415         1307       3    0    2     0         0      1        1          6
416         1308       3    0    1     1         0      1        1          3
417         1309       3    0    1     2         1      4        0          3

[418 rows x 9 columns]]

In [4]:
train = train_data[:750]   # Validation Set의 분리
vld = train_data[750:]

In [5]:
x_train = train.drop("Survived", axis=1)
y_train = train["Survived"]

In [6]:
x_train.tail(2)

     Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
748       1    0    1     3         0      1        0          1
749       3    0    1     0         2      1        1          3

In [7]:
y_train.tail(2)

748    0
749    0
Name: Survived, dtype: int64

In [8]:
x_train = x_train.values   # DataFrame에서 index와 header를 제거하고 수치부분만 떼어내어 numpy.array형태로 변환
x_train = x_train.astype('float')   # numpy.array에서 자료형을 실수형으로 전환
print(x_train)

[[3. 0. 1. ... 1. 0. 3.]
 [1. 1. 2. ... 3. 0. 2.]
 [3. 1. 1. ... 2. 1. 3.]
 ...
 [2. 1. 1. ... 2. 1. 2.]
 [1. 0. 1. ... 1. 0. 1.]
 [3. 0. 1. ... 1. 1. 3.]]

In [9]:
y_train = y_train.values   # y_train에서도 수치부분만 떼어냄
y_train = y_train.reshape(750,1)   # Label의 shape를 재조정
y_train = y_train.astype('float')  # Label의 자료형을 실수형으로 전환
print(y_train)

[[0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]]

In [10]:
x_vld = vld.drop('Survived', axis = 1)   # Validation Set의 Feature vs Label 분리
y_vld = vld['Survived']

In [11]:
x_vld.tail(2)

     Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
889       1    0    1     2         1      1        1          1
890       3    0    1     0         2      1        1          3

In [12]:
x_vld = x_vld.values
x_vld = x_vld.astype('float')

In [13]:
print(x_vld)

[[2. 1. 0. ... 2. 0. 0.]
 [3. 0. 0. ... 4. 0. 0.]
 [3. 0. 2. ... 1. 1. 6.]
 ...
 [3. 1. 1. ... 2. 0. 3.]
 [1. 0. 1. ... 1. 1. 1.]
 [3. 0. 1. ... 1. 1. 3.]]

In [14]:
y_vld.tail(2)

889    1
890    0
Name: Survived, dtype: int64

In [15]:
y_vld = y_vld.values
y_vld = y_vld.reshape(141,1)
y_vld = y_vld.astype('float')

In [16]:
print(y_vld)

[[1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]]

In [17]:
print(x_train.shape, y_train.shape)

(750, 8) (750, 1)

In [18]:
model = tf.keras.models.Sequential([
  # tf.keras.layers.Flatten(input_shape=(28, 28)),   # Flatten을 적용할 필요 없음 (MNIST와의 차이)
  tf.keras.layers.Dense(64, activation='relu'),
  tf.keras.layers.Dropout(0.3),
  tf.keras.layers.Dense(64, activation='relu'),
  tf.keras.layers.Dropout(0.3),
  tf.keras.layers.Dense(32, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(16, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(2, activation='softmax')
])

In [19]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [22]:
model.fit(x_train, y_train, epochs=10)   # 학습

Epoch 1/10
750/750 [==============================] - 0s 108us/sample - loss: 0.5093 - accuracy: 0.7667
Epoch 2/10
750/750 [==============================] - 0s 98us/sample - loss: 0.5167 - accuracy: 0.7613
Epoch 3/10
750/750 [==============================] - 0s 95us/sample - loss: 0.4820 - accuracy: 0.7907
Epoch 4/10
750/750 [==============================] - 0s 103us/sample - loss: 0.5109 - accuracy: 0.7760
Epoch 5/10
750/750 [==============================] - 0s 88us/sample - loss: 0.4961 - accuracy: 0.7933
Epoch 6/10
750/750 [==============================] - 0s 92us/sample - loss: 0.4991 - accuracy: 0.7907
Epoch 7/10
750/750 [==============================] - 0s 92us/sample - loss: 0.4966 - accuracy: 0.7880
Epoch 8/10
750/750 [==============================] - 0s 93us/sample - loss: 0.4930 - accuracy: 0.7840
Epoch 9/10
750/750 [==============================] - 0s 99us/sample - loss: 0.4915 - accuracy: 0.7853
Epoch 10/10
750/750 [==============================] - 0s 98us/sample - loss: 0.4931 - accuracy: 0.7867

In [23]:
model.evaluate(x_vld, y_vld)   # Validation Set을 통한 정확도 확인

141/141 [==============================] - 0s 77us/sample - loss: 0.4034 - accuracy: 0.8369

[0.40337645077536294, 0.83687943]

In [24]:
X_train = train_data.drop('Survived', axis=1)   # Validation Set 도 포함하여 학습
X_train = X_train.values
X_train = X_train.astype('float')
Y_train = train_data["Survived"]
Y_train = Y_train.values
Y_train = Y_train.reshape(891,1)
Y_train = Y_train.astype('float')

In [25]:
print(X_train.shape, Y_train.shape)

(891, 8) (891, 1)

In [28]:
model.fit(X_train, Y_train, epochs=10)

Epoch 1/10
891/891 [==============================] - 0s 98us/sample - loss: 0.4347 - accuracy: 0.8126
Epoch 2/10
891/891 [==============================] - 0s 92us/sample - loss: 0.4372 - accuracy: 0.8114
Epoch 3/10
891/891 [==============================] - 0s 92us/sample - loss: 0.4379 - accuracy: 0.8227
Epoch 4/10
891/891 [==============================] - 0s 92us/sample - loss: 0.4434 - accuracy: 0.8159
Epoch 5/10
891/891 [==============================] - 0s 95us/sample - loss: 0.4454 - accuracy: 0.8126
Epoch 6/10
891/891 [==============================] - 0s 95us/sample - loss: 0.4344 - accuracy: 0.8137
Epoch 7/10
891/891 [==============================] - 0s 87us/sample - loss: 0.4265 - accuracy: 0.8305
Epoch 8/10
891/891 [==============================] - 0s 91us/sample - loss: 0.4142 - accuracy: 0.8193
Epoch 9/10
891/891 [==============================] - 0s 97us/sample - loss: 0.4222 - accuracy: 0.8159
Epoch 10/10
891/891 [==============================] - 0s 93us/sample - loss: 0.4215 - accuracy: 0.8227

In [29]:
test = test_data.drop('PassengerId', axis = 1)
test = test.values
test = test.astype('float')
print(test, test.shape)

[[3. 0. 2. ... 1. 1. 6.]
 [3. 1. 2. ... 3. 0. 6.]
 [2. 0. 3. ... 1. 1. 6.]
 ...
 [3. 0. 2. ... 1. 1. 6.]
 [3. 0. 1. ... 1. 1. 3.]
 [3. 0. 1. ... 4. 0. 3.]] (418, 8)

In [30]:
Submission = pd.DataFrame(test_data['PassengerId'])   # PassengerId 하나만 열로 갖는 데이터프레임 생성
test_predict = model.predict(test)   # test 대상에 대해 생존여부 예측

# One-hot encoding되어 출력되는 결과를 decoding해주는 부분
test_predict = test_predict.tolist()
for i,j in enumerate(test_predict):
    if j[0] > j[1]: test_predict[i] = 0
    else: test_predict[i] = 1

Submission["Survived"] = test_predict
print(Submission)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         0
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         0
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [51]:
Submission.to_csv("../Data/Titanic/tf_summission.csv", header = True, index = False)   # 저장