### PANDAS

###### pandas 기본

Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
array = np.array([1, 2, 3, 4, 5], dtype='i')
series = pd.Series(array, index=['A', 'B', 'C', 'D', 'E'])   # Series는 pandas table의 단위 (열 column)
series

A    1
B    2
C    3
D    4
E    5
dtype: int32

In [4]:
series1 = pd.Series(array)   # default index는 0부터 시작해서 numbering된다.
series1

0    1
1    2
2    3
3    4
4    5
dtype: int32

열 지정

In [6]:
import random
list1=[[random.randint(1,100) for _ in range(5)] for __ in range(10)]  # 이중 list comprehension (행렬 혹은 테이블로 이해)
df=pd.DataFrame(list1)   # pandas에서 다루는 기본 데이터 형태
df                       # index와 header에 자동 numbering되는 것 눈여겨볼 것!

    0   1    2   3   4
0  33  77   76  80  38
1  79  56   77   4   3
2  19  59  100  18  88
3  88  18   75  77   8
4  50  90   31  62  46
5  89  75   54   2  61
6  71  34   16  33  31
7  92  34   47  65  31
8  90  91   95  92  20
9   3  79   41  52  80

In [7]:
df[0]  # column 출력

0    33
1    79
2    19
3    88
4    50
5    89
6    71
7    92
8    90
9     3
Name: 0, dtype: int64

In [18]:
df[0:2]  # 주의! : slicing을 하면 column이 아니라 row를 기준으로 출력됨!!!

    0   1   2   3   4
0  33  77  76  80  38
1  79  56  77   4   3

행 지정

In [8]:
df.iloc[:3]   # 끝수에 해당하는 row출력 안함, 엄밀히 말하면 positional indexing

    0   1    2   3   4
0  33  77   76  80  38
1  79  56   77   4   3
2  19  59  100  18  88

In [10]:
df.iloc[0]   # indexing으로 출력해보기, row가 column형태로 출력됨

0    33
1    77
2    76
3    80
4    38
Name: 0, dtype: int64

In [9]:
df.loc[0:1]   # 끝수에 해당하는 row출력함, 엄밀히 말하면 label based indexing

    0   1   2   3   4
0  33  77  76  80  38
1  79  56  77   4   3

In [23]:
df.loc[0]   # indexing으로 출력해보기, row가 column형태로 출력됨

0    33
1    77
2    76
3    80
4    38
Name: 0, dtype: int64

In [15]:
df.ix[0:1]   # loc 과 정확히 같은 기능, 그러나 앞으로는 ix보다는 loc를 쓸 것!

/Users/JKPark/Python/deep_python/deep_python/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

    0   1   2   3   4
0  33  77  76  80  38
1  79  56  77   4   3

데이터 지정

In [16]:
df   # reminder of previously defined 'df'

    0   1    2   3   4
0  33  77   76  80  38
1  79  56   77   4   3
2  19  59  100  18  88
3  88  18   75  77   8
4  50  90   31  62  46
5  89  75   54   2  61
6  71  34   16  33  31
7  92  34   47  65  31
8  90  91   95  92  20
9   3  79   41  52  80

In [17]:
df[0][1]

79

In [24]:
df[0].iloc[1:3]

1    79
2    19
Name: 0, dtype: int64

In [25]:
df[0].loc[1:3]

1    79
2    19
3    88
Name: 0, dtype: int64

In [21]:
df[0].ix[1:3]   # 가급적 ix대신 loc를 쓸 것!

/Users/JKPark/Python/deep_python/deep_python/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

1    79
2    19
3    88
Name: 0, dtype: int64

In [27]:
df.iloc[0, 1]   # table을 행렬처럼 생각, 행렬의 element 골라내기

77

In [28]:
df.iloc[1, 0]

79

In [29]:
df.iloc[1][0]

79

In [31]:
df.loc[0, 1]   # loc의 경우는?

77

In [32]:
df.loc[1][0]   # loc의 경우는?

79

In [39]:
arr = np.random.randint(1, 100, size=(3, 5))    # 끝수 포함 안됨 (여기서는 100)
arr

array([[54, 48, 28, 62, 19],
       [59, 66, 42, 39, 94],
       [89, 74, 49, 97, 57]])

In [41]:
df = pd.DataFrame(arr, columns = ['a', 'b', 'c', 'd', 'e'], index = ['id1', 'id2', 'id3'])
df

      a   b   c   d   e
id1  54  48  28  62  19
id2  59  66  42  39  94
id3  89  74  49  97  57

In [53]:
print(df.iloc[:1])
print('='*24)
print(df.loc[:'id2'])    # iloc과 loc의 차이를 보여준다.

      a   b   c   d   e
id1  54  48  28  62  19
========================
      a   b   c   d   e
id1  54  48  28  62  19
id2  59  66  42  39  94

###### 열 순서 변경

In [65]:
df = pd.DataFrame(data=np.random.randint(1, 100, 15).reshape(3, 5), index=['a', 'b', 'c'], columns=[1, 2, 3, 4, 5])
df

    1   2   3   4   5
a  78   1  67  76   3
b  10  63  56  47  87
c  81  89  39  95  85

In [66]:
cols = list(df)   # 'columns' in the DataFrame is extracted as a list
cols

[1, 2, 3, 4, 5]

In [67]:
cols.insert(0, cols.pop(cols.index(1)))

In [68]:
cols

[1, 2, 3, 4, 5]

In [69]:
df

    1   2   3   4   5
a  78   1  67  76   3
b  10  63  56  47  87
c  81  89  39  95  85

In [76]:
df.ix[:, cols]   # 여기서 cols는 positional indexing이 아니라 label based indexing!

/Users/JKPark/Python/deep_python/deep_python/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

    1   2   3   4   5
a  78   1  67  76   3
b  10  63  56  47  87
c  81  89  39  95  85

In [77]:
df = df.ix[:, cols]

/Users/JKPark/Python/deep_python/deep_python/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [78]:
df

    1   2   3   4   5
a  78   1  67  76   3
b  10  63  56  47  87
c  81  89  39  95  85

In [92]:
df1 = pd.DataFrame([[str(1), '1'],['1.1', '1,000']])
df1

     0      1
0    1      1
1  1.1  1,000

In [93]:
df1.stack()

0  0        1
   1        1
1  0      1.1
   1    1,000
dtype: object

In [94]:
df1.stack().str.replace(',','').unstack()   # stack으로 만든후에 str 메소드 이용 가능, DataFrame상태에서는 불가능

     0     1
0    1     1
1  1.1  1000

In [95]:
df1[0].astype(str)   # 타입 변환

0      1
1    1.1
Name: 0, dtype: object

In [96]:
df1[0].astype(float)   # 타입 변환

0    1.0
1    1.1
Name: 0, dtype: float64

In [97]:
mul_index = pd.MultiIndex.from_tuples([('category', 'cate1', '1'), ('category', 'cate1', '2'), 
                                                               ('category', 'cate2', '1'), ('category', 'cate2', '2')])
mul_col = [['plan','plan','plan','plan'],['input','input','output','output'],[1,2,1,2]]

In [98]:
df_ex = pd.DataFrame(data=np.random.randint(1, 10, 16).reshape(4,4),
                                    index=mul_index, columns=mul_col)
df_ex   # index와 column이 계층적인 분류구조를 가질 때

                  plan
                 input    output
                     1  2      1  2
category cate1 1     7  8      1  4
               2     9  2      2  2
         cate2 1     7  1      8  2
               2     2  8      2  4