### NUMPY

In [2]:
import numpy as np

###### 1) 배열(ndarray) 다루기

In [33]:
a = np.array([1, 2, 3, 4, 5, 6], dtype='i')   # float32는 'f' 옵션
a

array([1, 2, 3, 4, 5, 6], dtype=int32)

In [58]:
print(a)   # print()함수 사용시 array부분이 사라짐

[1 2 3 4 5 6]

In [8]:
b = np.array([1,2,3,4,5,6])
b.dtype   # 정수형 default는 int64

dtype('int64')

In [31]:
c = np.array([1.,2.,3.,4.,5.,6.])
c.dtype   # 실수형 default는 float64

dtype('float64')

In [34]:
a.ndim

1

In [35]:
a.shape

(6,)

In [43]:
a.dtype

dtype('int32')

In [39]:
a.astype('f')   # type 변환

array([1., 2., 3., 4., 5., 6.], dtype=float32)

In [42]:
a.astype('O')

array([1, 2, 3, 4, 5, 6], dtype=object)

기호 | <center>b</center> | **i** | i8 | u | f | O  
- | - | - | - | - | - | -
 타입 | **boolean** | int32 | int64 | uint32 | float32 | object

###### 2) 배열 생성

- zeros, ones('scalar/tuple/list', dtype=)
- zeros_like(다른 배열), ones_like
- empty
- arange(시작, 끝(포함x), 단계)
- linespace(시작, 끝(포함o), 단계)
- logspace(시작, 끝(포함o), 단계)
- rand
- randn

In [56]:
ones = np.ones(5)   # default로 float64형으로 출력
ones

array([1., 1., 1., 1., 1.])

In [57]:
zeros = np.zeros((4, 5), dtype='O')   # default로 float64형으로 출력
zeros

[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

In [54]:
zeros_2 = np.zeros_like(ones)
zeros_2

array([0., 0., 0., 0., 0.])

In [60]:
empty = np.empty((4, 5))   # Return a new array of given shape and type, without initializing entries. (FAST!!!)
empty

array([[ 0.00000000e+000,  0.00000000e+000,  5.92878775e-323,
         0.00000000e+000,  2.41907520e-312],
       [ 1.16095484e-028,  2.92227030e-014,  6.97283618e+228,
         3.51376069e-110,  6.09343068e-013],
       [ 1.69264139e-139,  6.52016598e+252,  2.20892684e+161,
        -9.40676185e+210, -4.21767053e-150],
       [ 6.96770842e+252,  4.07638842e-144,  9.80058441e+252,
         1.23971686e+224,  1.50250231e+248]])

In [61]:
linspace = np.linspace(0, 100, 5)
linspace

array([  0.,  25.,  50.,  75., 100.])

In [62]:
logspace = np.logspace(0, 1, 5)   # log의 밑은 10
logspace

array([ 1.        ,  1.77827941,  3.16227766,  5.62341325, 10.        ])

In [64]:
np.inf   # 막연한 큰 수

True

In [65]:
np.nan   # not a number

nan

* Numpy의 강점 1. 벡터화 연산

In [66]:
2 * a

array([ 2,  4,  6,  8, 10, 12], dtype=int32)

- Numpy의 강점 2. 변환

In [71]:
a = a.reshape(2, 3)
print(a)   # print()를 이용하면 깔끔한 출력 가능

[[1 2 3]
 [4 5 6]]

- Numpy의 강점 3. 배열 인덱싱 ( = query 기능 )

In [206]:
a[[1, 0], :]   # row 바꾸기

array([[4, 5, 6],
       [1, 2, 3]])

In [76]:
a[:, [2, 0, 1]]   # column 바꾸기

array([[3, 1, 2],
       [6, 4, 5]], dtype=int32)

In [196]:
a%2 == 0

array([[False,  True, False],
       [ True, False,  True]])

In [189]:
a[a%2 == 0]   # True와 겹치는 성분만 출력

array([2, 4, 6])

In [197]:
a[0, :] # slicing

array([1, 2, 3])

In [74]:
idx = np.array([0, 2])

In [73]:
a[0, idx]

array([3, 1], dtype=int32)

In [77]:
idx2 = np.array([0, 0, 1, 1, 1, 2])

In [78]:
a[1, idx2]

array([4, 4, 5, 5, 5, 6], dtype=int32)

###### 2) 난수 발생

- randint(시작, 끝, size='scalar' or 'tuple/list')  
-

In [119]:
age = np.random.randint(1, 100, size=(3, 5))
age[:2]   # 두번째 row까지 출력

array([[89, 96, 15, 29, 78],
       [17, 94, 78, 51, 54]])

In [122]:
age[:,0]   # 첫번째 column을 0과 같이 인덱싱으로 출력하면, row형태로 나옴

array([89, 17, 10])

In [121]:
age[:,:1]   # 첫번째 column을 :1 과 같이 슬라이싱으로 출력하면, column형태로 나옴

array([[89],
       [17],
       [10]])